header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.hero {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.projects ul {
    list-style-type: none;
}

.reviews section {
    display: flex;
    justify-content: space-around;
}

footer {
    text-align: center;
}